.tituloNavB {
    position: absolute;
    top: 60px;
    right: 800px;
    width: 380px;
    height: 200px;
}

.texto {
    text-align: justify;
}

.links2 {
    text-decoration: none;
    color: black;
}

.links2:hover {
    color: darkblue;
}
