.mainCadastro {
    background-color: aqua;
    box-sizing: border-box;
    margin: 0 auto;
    width: 70%;
    min-height: 600px;
    padding: 30px 30px;
}

.formularioCadastro {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 2%;
    padding-left: 4.5%;
    padding-right: 4.5%;
    padding-bottom: 3.5%;
    border-radius: 15px;
    color: white;
    text-align: center;
}

.formCadastro {
    text-align: justify;
}

.formCadastro h1 {
    text-align: center;
}

.formCadastro p {
    text-align: center;
}

.inputCadastro {
    width: 55%;
    padding: 4.5px;
    font: 4px;
}

.botaoCadastro {
    background-color: darkgreen;
    border: none;
    padding: 15px;
    width: 80%;
    border-radius: 10px;
    color: white;
    font-size: 15px;
}

.botaoCadastro:hover {
    cursor: pointer;
    background-color: green;
}
